// @use 'bootstrap/scss/functions';
// @use 'bootstrap/scss/variables';
// @use 'bootstrap/scss/mixins';
@use 'bootstrap/scss/bootstrap';
@use '_importer' as *;
@use 'variables' as *;
@use 'mixins' as *;

// @use 'placeholders';


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

html, body{ 
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#app{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & .conteiner{
        padding: 0;
    }
    
    header {
    background-color: map-get($colors, "headerFooterColor");
    text-align: center;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    max-height: 40px;
    justify-content:flex-end;
    border-bottom: 1px solid orange;
    position: fixed;
    z-index: 5;

    & .contact-info{
        justify-content:flex-end;
        // z-index: 2;
        display:flex;
        border-radius: 10px;      
        height: 100%;
        width: 270px;
        padding-right: 20px;
        
        & a{
            color: #205279;
            margin-left: 12px;

            &:hover{
                transition: 0.5s ease;
                color: map-get($colors, 'orange' );
            }
        }
    }
    

    }
    .conteiner{
        display: flex;
        flex: 1;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 70px); 
        flex-direction: row;
        max-width: 1840px;
        margin: 0 auto;
        
        .nav__wrapper{
            // flex: 1 1 25%;
            background-color: map-get($colors, "navBarColor");
            padding: 6px;
            height: 600px;
            width: auto;
            max-width: 230px;
            position: fixed;
            top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius:  0px 30px 30px 0px;
            z-index: 3;
            overflow-y: auto;

            .logo__block{
                width: 20vb;
                max-width: 180px;
                height: 19vh;
                max-height: 170px;
                margin-bottom: 40px;
    
                .logo{
                    width: 100%;
                    height: 100%;
                }
            }

            nav{
                text-align: start;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 10px;
                font-family: "IBM Plex Sans", sans-serif;
                font-weight: 400;
                font-style: normal;

                &:hover{
                    transition: 0.3s ease-in;
                    background-color: #7e64ff;
                    // border: 0.4px solid hwb(206 45% 0%);
                }

                .router-link{
                    color: #fff;
                    // font-family: Arial, sans-serif;
                    font-size: 18px;
                    margin-bottom: 20px;
                    text-decoration: none;
                        
                    &:hover{
                        transition: 0.4s ease;
                        color: rgb(1, 106, 106);
                    }
                    span{
                        margin-left: 8px;
                    }
                }
            }
        }
        main {
            max-width: 1440px;
            flex: 1;
            margin: 40px 240px 0 190px; // Leave space for fixed nav and aside
            
            &.Posts, &.AboutUs, &.Authorization, &.CreateNewPost{
                // margin-right: 120px;
                // width: 60%;
                padding: 0 20px;
            }

                @include media(max-width, 'lg') {
                    &{
                        max-width: 800px;
                    }
                }
            }
        .aside__wrapper {
            position: fixed;
            top: 40px;
            right: 0;
            width: auto;
            max-width: 250px;
            display: flex;
            flex-direction:row-reverse;
            align-items: center;
            z-index: 3;
            overflow-y: auto;

            .aside {
                background-color: map-get($colors, "asideColor");
                padding: 10px;
                border-radius: 10px 0px 0 10px;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        }
    }
    footer {
        background-color: map-get($colors, "footerColor");
        color: #ffffff;
        padding: 20px;
        margin-top: 40px;
        height: 300px;
        max-height: 350px;
        text-align: center;
    }
}


